html, body {
	margin: 0;
	padding: 0;
}


/* Header */
.headerPane 
{
    background-color: #EDEDED;
    background-position: left top;
    background-repeat: no-repeat;
    font-family: Tahoma;
}
.headerPane .headerTop
{
    height: 15px;
}
.templateTitle 
{
    float:left;
    margin-left: 15px;
    background-image: url('images/logo.jpg');
    width: 356px;
    height: 60px;
}
.templateTitle a 
{
    text-decoration: none;
    font-size: x-large;
    color: black;
}
.loginControl 
{
    float: right;
    margin-right: -10px;
    font-size: 12px;
    background-image: url('images/name_software.jpg');
    width: 479px;
    height: 60px;
}
.loginControl a 
{
    color: blue;
    text-decoration: none;
	display: inline-block;
}
.headerMenu 
{

}


/* Footer */
.footerPane 
{
    background-color: #EDEDED;
    position:relative;
    height:100%;
}
.footerMenu {
    float: right;
    padding-top: 7px;
}
.copyright 
{
    float: left;
    margin-left: 15px;
}

.content 
{
    padding: 5px;
}


/* Account */
.accountHeader h2 
{
    margin: 10px 0 7px 0;
    font-size: 16px;
}
.accountHeader p 
{
    font-size: 12px;
    margin: 0;
    padding: 0;
}
.accountHeader 
{
    margin-bottom: 20px;
}
.form-field
{
    margin-bottom: 8px;
}


/* iOS */
.dxsplVSeparator_iOS,
.dxsplHSeparator_iOS
{
    border-width: 0px !important;
}
.dxsplPane_iOS.leftPane,
.dxsplPane_iOS.rightPane,
.dxsplPane_iOS.contentPane
{
    border-width: 1px !important;
}
.dxsplControl_iOS .templateTitle
{
    margin-top: 3px;    
}
.dxsplControl_iOS .templateTitle a
{
    color: #303030;
    font-size: 26px;
    line-height: 1em;
    font-weight: bold;
}
.dxsplControl_iOS .headerTop,
.dxsplControl_iOS .content
{
    font-family: HelveticaNeue,Helvetica,Verdana,sans-serif;
}
.dxsplControl_iOS .loginControl
{
    margin-top: 4px;    
}
.dxsplControl_iOS .loginControl a
{
    color: #0160E7;
    text-decoration: underline;
    font-size: 20px;
    font-weight: bold;
}
.dxsplControl_iOS .headerTop
{
    height: 33px;
}
.dxsplControl_iOS .headerMenu
{
    margin-top: 0px;   
}
.dxsplPane_iOS.mainContentPane
{
    border-width: 0px !important;
    box-shadow: initial;
    -webkit-box-shadow: initial;
    -moz-box-shadow: initial;
}
.dxsplPane_iOS.footerPane
{
    border-width: 1px !important;
}
.dxsplControl_iOS .accountHeader p
{
    color: #303030;
    font-size: 18px;
}
.dxsplControl_iOS .accountHeader h2
{
    color: #303030;
    font-size: 26px;
    margin-bottom: 10px;
}


/* Aqua */
.dxsplControl_Aqua 
{
    font-family: Tahoma;
}
.dxsplControl_Aqua .headerPane,
.dxsplControl_Aqua .footerPane,
.dxsplControl_Aqua .footerMenu li
{
    background-color: #BFDBFF;
}
.dxsplControl_Aqua .headerPane
{
    background-image: url('images/AquaHeader.jpg');
}
.dxsplControl_Aqua .headerMenu li b
{
    height: 25px !important;
}
.dxsplControl_Aqua .accountHeader h2
{
    color: #5689C5;
}
.dxsplControl_Aqua .loginControl a,
.dxsplControl_Aqua .templateTitle a
{
    color: White;
    border-color: White;
}



/* DevEx */
.dxsplControl_DevEx 
{
    font-family: Verdana;
    color: #201F35;
}
.dxsplControl_DevEx .headerPane,
.dxsplControl_DevEx .footerPane,
.dxsplControl_DevEx .footerMenu li
{
    background-color: #F2F3F4;
}
.dxsplControl_DevEx .templateTitle a,
.dxsplControl_DevEx .loginControl,
.dxsplControl_DevEx .loginControl a
{
    color: #4B4B57;
}
.dxsplControl_DevEx .loginControl a 
{
    border-bottom-color: #4B4B57;
}
.dxsplControl_DevEx .headerMenu 
{
    margin-top: 13px;
}
.dxsplControl_DevEx .accountHeader p
{
    font-size: 11px;
}


/* BlackGlass */
.dxsplControl_BlackGlass 
{
    font-family: Tahoma;
}
.dxsplControl_BlackGlass .headerPane,
.dxsplControl_BlackGlass .footerPane,
.dxsplControl_BlackGlass .footerMenu li
{
    background-color: #2A2A2A;
    color: white;
}
.dxsplControl_BlackGlass .headerPane
{
    background-image: url('images/BlackGlassHeader.jpg');
}
.dxsplControl_BlackGlass .leftPanel li[class$="dxnb-last"] ul
{
    border-bottom: 1px solid black;
}
.dxsplControl_BlackGlass .accountHeader p
{
    color: #585858;
}
.dxsplControl_BlackGlass .loginControl a,
.dxsplControl_BlackGlass .templateTitle a
{
    color: White;
    border-color: White;
}


/* Glass */
.dxsplControl_Glass 
{
    font-family: Tahoma;
}
.dxsplControl_Glass .headerPane,
.dxsplControl_Glass .footerPane,
.dxsplControl_Glass .footerMenu li
{
    background-color: #CFE0E7;
}
.dxsplControl_Glass .headerPane
{
    background-image: url('images/GlassHeader.jpg');
}
.dxsplControl_Glass .footerMenu *
{
    background-image: none !important;
}
.dxsplControl_Glass .headerMenu li b
{
    height: 25px !important;
}
.dxsplControl_Glass .templateTitle a,
.dxsplControl_Glass .loginControl,
.dxsplControl_Glass .loginControl a
{
    color: #4B4B57;
}
.dxsplControl_Glass .loginControl a 
{
    border-bottom-color: #4B4B57;
}
.dxsplControl_Glass .accountHeader h2
{
    color: #387FA4;
}
.dxsplControl_Glass .accountHeader p
{
    color: #575757;
}



/* Office2003Blue */
.dxsplControl_Office2003Blue 
{
    font-family: Tahoma;
}
.dxsplControl_Office2003Blue .headerPane,
.dxsplControl_Office2003Blue .footerPane,
.dxsplControl_Office2003Blue .footerMenu li
{
    background-color: #BCD4F6;
}
.dxsplControl_Office2003Blue .footerMenu div
{
    background: transparent none;
}
.dxsplControl_Office2003Blue .leftPanel > ul
{
    background: transparent none;
}
.dxsplControl_Office2003Blue .templateTitle a,
.dxsplControl_Office2003Blue .loginControl,
.dxsplControl_Office2003Blue .loginControl a
{
    color: #4B4B57;
}
.dxsplControl_Office2003Blue .loginControl a 
{
    border-bottom-color: #4B4B57;
}
.dxsplControl_Office2003Blue .accountHeader p
{
    color: #424242;
}
.dxsplControl_Office2003Blue .headerMenu 
{
    margin-top: 5px;
}


/* Office2003Olive */
.dxsplControl_Office2003Olive 
{
    font-family: Tahoma;
}
.dxsplControl_Office2003Olive .headerPane,
.dxsplControl_Office2003Olive .footerPane,
.dxsplControl_Office2003Olive .footerMenu li
{
    background-color: #D6DCBB;
}
.dxsplControl_Office2003Olive .footerMenu div
{
    background: transparent none;
}
.dxsplControl_Office2003Olive .leftPanel > ul
{
    background: transparent none;
}
.dxsplControl_Office2003Olive .templateTitle a,
.dxsplControl_Office2003Olive .loginControl,
.dxsplControl_Office2003Olive .loginControl a
{
    color: #4B4B57;
}
.dxsplControl_Office2003Olive .loginControl a 
{
    border-bottom-color: #4B4B57;
}
.dxsplControl_Office2003Olive .accountHeader p
{
    color: #424242;
}
.dxsplControl_Office2003Olive .headerMenu 
{
    margin-top: 5px;
}

/* Office2003Silver */
.dxsplControl_Office2003Silver 
{
    font-family: Tahoma;
}
.dxsplControl_Office2003Silver .headerPane,
.dxsplControl_Office2003Silver .footerPane,
.dxsplControl_Office2003Silver .footerMenu li
{
    background-color: #D0D0DE;
}
.dxsplControl_Office2003Silver .footerMenu div
{
    background: transparent none;
}
.dxsplControl_Office2003Silver .leftPanel > ul
{
    background: transparent none;
}
.dxsplControl_Office2003Silver .templateTitle a,
.dxsplControl_Office2003Silver .loginControl,
.dxsplControl_Office2003Silver .loginControl a
{
    color: #4B4B57;
}
.dxsplControl_Office2003Silver .loginControl a
{
    border-bottom-color: #4B4B57;
}
.dxsplControl_Office2003Silver .accountHeader p
{
    color: #424242;
}
.dxsplControl_Office2003Silver .headerMenu 
{
    margin-top: 5px;
}


/* Office2010Black */
.dxsplControl_Office2010Black 
{
    font-family: Verdana;
}
.dxsplControl_Office2010Black .headerPane,
.dxsplControl_Office2010Black .footerPane,
.dxsplControl_Office2010Black .footerMenu li
{
    background-color: #393939;
    color: white;
}
.dxsplControl_Office2010Black .footerMenu a
{
    color: white !important;
}
.dxsplControl_Office2010Black .accountHeader h2
{
    color: #3C3C3C;
}
.dxsplControl_Office2010Black .accountHeader p
{
    font-size: 11px;
}
.dxsplControl_Office2010Black .headerMenu 
{
    margin-top: 13px;
}
.dxsplControl_Office2010Black .loginControl a,
.dxsplControl_Office2010Black .templateTitle a
{
    color: White;
    border-color: White;
}


/* Office2010Blue */
.dxsplControl_Office2010Blue 
{
    font-family: Verdana;
}
.dxsplControl_Office2010Blue .headerPane,
.dxsplControl_Office2010Blue .footerPane,
.dxsplControl_Office2010Blue .footerMenu li
{
    background-color: #D3E4F6;
}
.dxsplControl_Office2010Blue .templateTitle a,
.dxsplControl_Office2010Blue .loginControl,
.dxsplControl_Office2010Blue .loginControl a
{
    color: Black;
}
.dxsplControl_Office2010Blue .loginControl a 
{
    border-bottom-color: Black;
}
.dxsplControl_Office2010Blue .accountHeader h2
{
    color: #498BC2;
}
.dxsplControl_Office2010Blue .accountHeader p
{
    font-size: 11px;
}
.dxsplControl_Office2010Blue .headerMenu 
{
    margin-top: 13px;
}


/* Office2010Silver */
.dxsplControl_Office2010Silver 
{
    font-family: Verdana;
}
.dxsplControl_Office2010Silver .headerPane,
.dxsplControl_Office2010Silver .footerPane,
.dxsplControl_Office2010Silver .footerMenu li
{
    background-color: #A9ACB4;
    color: white;
}
.dxsplControl_Office2010Silver .accountHeader h2
{
    color: #3B3B3B;
}
.dxsplControl_Office2010Silver .accountHeader p
{
    font-size: 11px;
}
.dxsplControl_Office2010Silver .headerMenu 
{
    margin-top: 13px;
}
.dxsplControl_Office2010Silver .loginControl a,
.dxsplControl_Office2010Silver .templateTitle a
{
    color: White;
    border-color: White;
}



/* PlasticBlue */
.dxsplControl_PlasticBlue 
{
    font-family: Tahoma;
}
.dxsplControl_PlasticBlue .headerPane,
.dxsplControl_PlasticBlue .footerPane,
.dxsplControl_PlasticBlue .footerMenu li
{
    background-color :#3C4F8F;
    color: white;
}
.dxsplControl_PlasticBlue .headerPane
{
    background-image: url('images/PlasticBlueHeader.jpg');
}
.dxsplControl_PlasticBlue .accountHeader h2
{
    color: #5A83D0;
}
.dxsplControl_PlasticBlue .accountHeader p
{
    color: #575757;
}
.dxsplControl_PlasticBlue .headerMenu 
{
    margin-top: 12px;
}
.dxsplControl_PlasticBlue .loginControl a,
.dxsplControl_PlasticBlue .templateTitle a
{
    color: White;
    border-color: White;
}


/* RedWine */
.dxsplControl_RedWine 
{
    font-family: Tahoma;
}
.dxsplControl_RedWine .headerPane,
.dxsplControl_RedWine .footerPane,
.dxsplControl_RedWine .footerMenu li
{
    background-color: #78002B;
    color: white;
}
.dxsplControl_RedWine .headerPane
{
    background-image: url('images/RedWineHeader.jpg');
    background-position: top right;
}
.dxsplControl_RedWine .footerMenu div 
{
    background: transparent none;
}
.dxsplControl_RedWine .accountHeader h2
{
    color: #8A0A37;
}
.dxsplControl_RedWine .headerMenu 
{
    margin-top: 9px;
}
.dxsplControl_RedWine .loginControl a,
.dxsplControl_RedWine .templateTitle a
{
    color: White;
    border-color: White;
}


/* SoftOrange */
.dxsplControl_SoftOrange 
{
    font-family: Tahoma;
}
.dxsplControl_SoftOrange .headerPane,
.dxsplControl_SoftOrange .footerPane,
.dxsplControl_SoftOrange .footerMenu li
{
    background-color: #F9F9F9 !important;
    background-image: none !important;
}
.dxsplControl_SoftOrange .templateTitle a,
.dxsplControl_SoftOrange .loginControl,
.dxsplControl_SoftOrange .loginControl a
{
    color: Black;
}
.dxsplControl_SoftOrange .loginControl a 
{
    border-bottom-color: Black;
}
.dxsplControl_SoftOrange .accountHeader h2
{
    color: Black;
}
.dxsplControl_SoftOrange .accountHeader p
{
    color: #707070;
}
.dxsplControl_SoftOrange .headerMenu 
{
    margin-top: 8px;
}


/* Youthful */
.dxsplControl_Youthful 
{
    font-family: Tahoma;
}
.dxsplControl_Youthful .headerPane,
.dxsplControl_Youthful .footerPane,
.dxsplControl_Youthful .footerMenu li
{
    background-color: #8AA150;
    color: white !important;
}
.dxsplControl_Youthful .headerMenu li b
{
    height: 35px !important;
}
.dxsplControl_Youthful .accountHeader h2
{
    color: #80A70E;
}
.dxsplControl_Youthful .headerMenu 
{
    margin-top: 1px;
}
.dxsplControl_Youthful .loginControl a,
.dxsplControl_Youthful .templateTitle a
{
    color: White;
    border-color: White;
}

/* Metropolis */
.dxsplControl_Metropolis {font-family: Segoe UI;}
.dxsplControl_Metropolis .headerPane,.dxsplControl_Metropolis .footerMenu li{background-color: White;color: Black;}
.dxsplControl_Metropolis .accountHeader h2{color: #3B3B3B;}
.dxsplControl_Metropolis .accountHeader p{font-size: 11px;}
.dxsplControl_Metropolis .headerMenu {margin-top: 13px;}
.dxsplControl_Metropolis .loginControl a,.dxsplControl_Metropolis .templateTitle a{color: Black;border-color: Black;}
.dxsplControl_Metropolis .templateTitle a {font-size: 28px;}
.dxsplControl_Metropolis .dxsplVSeparator_Metropolis {border-bottom: 0!important;}

/** ----- Customize ----- **/

/* Login page */
.wrapper-login{background:url('/Content/Images/bg.jpg') no-repeat;}
.login-form{width:30%;margin:150px auto 0 auto}
.login-form .input-group-addon{width:122px}
.loginControl a{text-decoration:none;color:blue !important}
.loginControl a:hover{text-decoration:none;color:red !important}

#ctl00_ctl00_ASPxSplitter1_0_CC {
    height: 103px !important;
    background: #ffffff;
}

.headerMenu .dxmLite_Office2010Blue .dxm-main {
    background: url('images/bg-menu2.gif') repeat-x left top;
    height: 42px !important;
}

.headerMenu .dxmLite_Office2010Blue, .dxmLite_Office2010Blue .dxm-content a.dx {
    color: #ffffff !important;
    font-weight: bold !important;
}

.dxm-scrollArea .dxm-content a.dx {
    color: #0c6a9e;
    font-weight: normal;
}

.headerMenu .dxmLite_Office2010Blue .dxm-horizontal .dxm-separator b {
    background: url('images/bar3.png') no-repeat left -1px !important;
    height: 42px !important;
    width: 2px !important;
}

.headerMenu .dxmLite_Office2010Blue .dxm-horizontal .dxm-image-l .dxm-content, .dxmLite_Office2010Blue .dxm-horizontal .dxm-image-r .dxm-content {
    padding: 14px 12px !important;
}

.dxmLite_Office2010Blue .dxm-main .dxm-checked, .dxmLite_Office2010Blue .dxm-main .dxm-selected {
    color: #fddc7f;
    font-weight: bold;
    background: none;
}

.dxm-hovered {
    background: none !important;
    color: #fddc7f;
}

.dxm-hovered .dxm-hasText a {
    color: #0c6a9e !important;
  
}

.headerPane .dxm-hovered .dxm-hasText a {
    color: #fddc7f !important;
}

.dxmLite_Office2010Blue.dxm-ltr .dxm-vertical .dxm-image-l.dxm-noImages .dxm-content, .dxmLite_Office2010Blue.dxm-ltr .dxm-vertical .dxm-image-r.dxm-noImages .dxm-content {
    color: #0c6a9e;
    text-align: left;
}

#ctl00_ctl00_ASPxSplitter1_Content_ContentSplitter_0_CC {
    background: #e3e6eb;
}

.dxmLite_Office2010Blue .dxm-vertical .dxm-item {
    background: none !important;
}

.leftPanel .dxmLite_Office2010Blue .dxm-main {
   background: none !important;
}

.leftPanel .dxmLite_Office2010Blue .dxm-vertical .dxm-separator b {
    border-bottom: 1px dotted #b6bbbd;
}

.leftPanel .dxmLite_Office2010Blue .dxm-vertical .dxm-image-l .dxm-popOut {
    
    width: 10px;    
    float: right;
}

.leftPanel .dxmLite_Office2010Blue .dxm-vertical .dxm-image-l .dxm-popOut img {
    border: solid 1px #dcdfe4;
    background: url('images/arrow.png') no-repeat 3px 16px;    
    background-color: #ffffff;
    width: 10px;
    height: 40px;
}

.leftPanel .dxmLite_Office2010Blue.dxm-ltr .dxm-vertical .dxm-image-l.dxm-noImages .dxm-content {
    float: left;
    width: 89%;
}

.leftPanel .dxmLite_Office2010Blue ul.dx {    
    margin: 0 7px 0 7px;
}

.leftPanel .year_css {
    background: #ffe1a1;
    width: 100%;
    float: right;   
    height: 39px;     
}

.leftPanel .year_css span {
    float: left;
    margin: 12px 0 0px 45px;
}

.leftPanel .year_css #ctl00_ctl00_ASPxSplitter1_Content_ContentSplitter_cbNam {
    float: right;
    margin: 8px 8px 0 0;    
}

#ctl00_ctl00_ASPxSplitter1_Content_ContentSplitter_1_S {
    background: #e2e6eb;
    border: solid 1px #a5acb6;
    width: 3px;
}

.dxmLite_Office2010Blue .dxm-popup .dxm-selected {
    background: #ffe1a1;
    border: solid 1px #999999;
}

#ctl00_ctl00_ASPxSplitter1_Content_ContentSplitter_1_CC {
    overflow: hidden;
}

#ctl00_ctl00_Body form {
    overflow-y: scroll !important;    
    overflow-x: hidden;
}

#ctl00_ctl00_ASPxSplitter1_Content_ContentSplitter_1_CC {
    overflow-y: scroll !important;    
    overflow-x: hidden !important;
    height: auto;
}

.dxgvControl_Office2010Blue div {
    overflow: hidden;
    height: auto !important;
}

td.dxgvHeader_Office2010Blue {
    text-align: center;
    background: #ffe1a1;
    border: 1px solid #fff !important;
    
}

.dxgvHeader_Office2010Blue td {
    color: #036fad !important;        
}

.dxgvControl_Office2010Blue, .dxgvDisabled_Office2010Blue {
    border: 1px solid #d0ddee !important;
}

.dxgvHSDC {
    background: #ffe1a1 !important;
    border-bottom: 2px solid #999 !important;
}

#ctl00_ctl00_ASPxSplitter1_Content_ContentSplitter_MainContent_lbNamBM {
    color: #0b699c !important;
    font-family: 'Times New Roman';
    font-size: 21px;    

    margin: 14px 0 0 15px;
    float: left;
    width: 100%;
}

.bmtitle {
    margin-top: 20px !important;
}

#ctl00_ctl00_ASPxSplitter1_Content_ContentSplitter_MainContent_lbTenDN {
    color: #0b699c !important;
    font-family: 'Times New Roman';
    font-size: 14px;
}

.dxbButton_Office2010Blue {
    background: #f0f0f0 !important;
    border: 1px solid #cccccc !important;
    color: #4f4f4f !important;
    font-weight: bold;
}

.dxbButton_Office2010Blue:hover {
    background: #ffefcd !important;
}

#ctl00_ctl00_ASPxSplitter1_txtFullName, #ctl00_ctl00_ASPxSplitter1_btnLogou, #ctl00_ctl00_ASPxSplitter1_lnkCPt {
    float: left;
    margin-left: 10px;    
}

#ctl00_ctl00_ASPxSplitter1_txtFullName {
    margin-left: 198px;
}

.foot {
    background: #fff;
    overflow: hidden;
    margin-top: -12px;
}

.menu-foot {
    background: #00568d;
    text-align: center;
}

.menu-foot ul {
    list-style: none;
}

.menu-foot li {
    display: inline-block;
}

.menu-foot a {
    float: left;
    padding: 8px 15px;
    font-size: 11px;
    color: #fff;
    font-weight: bold;
}

.left-ft {
    background: url('/oc/PublishingImages/vuthao/bg_menu.png') no-repeat right -73px;    
    float: left;
    padding: 3px 7px 15px 13px;
}

.right-ft {
    overflow: hidden;
    width: 300px;
    float: right;
    padding-top: 16px;
    text-align: right;
}

.left-ft p {
    display: block;
    font-size: 11px;
    margin: 0;
    color: #6b6a6a;
}

.right-ft p {
    padding: 0;
    margin: 0;
    text-align: right;
    margin: -13px 12px 0 0;
    font-size: 11px !important;
    font-weight: bold;
}

#ctl00_ctl00_ASPxSplitter1_2_CC {
    height: 106px !important;
}

.menu_footer .dxmLite_Office2010Blue .dxm-main {
    background: none;
    
}

.menu_footer .dxmLite_Office2010Blue .dxm-horizontal .dxm-separator b {
    background: none !important;
}

.menu_footer .dxmLite_Office2010Blue {
    margin-left: -39px;
}

.menu_footer .dxmLite_Office2010Blue .dxm-main a {
    padding: 0;
    font-size: 10px;
}

.menu_footer .dxm-hovered a {
    color: #fddc7f !important;
}

.menu_footer .dxmLite_Office2010Blue .dxm-main {
    height: 32px !important;
}

.menu_footer .dxmLite_Office2010Blue .dxm-horizontal .dxm-image-l .dxm-content {
    padding: 9px 12px !important;
}

#images_css {
    float: left;
    background: url('images/home_images.jpg') no-repeat;    
    width: 203px;
    height: 560px;
}
.img_td_css {
    width: 203px;
}

#cols_css {
    float: left;
    width: 100%;
}

.cols_td_css {
    vertical-align: top;
}

.col1_css, .col2_css, .col3_css {
    float: left;
    width: 32%;
    margin-left: 1%;
}


.col1_css .small_img_css span {
    float: left;
    background: url('images/company_info.jpg') no-repeat;    
    width: 281px;
    height: 156px;    
}

.col2_css .small_img_css span {
    float: left;
    background: url('images/notices.jpg') no-repeat;    
    width: 281px;
    height: 156px;    
}

.col3_css .small_img_css span {
    float: left;
    background: url('images/library.jpg') no-repeat;    
    width: 281px;
    height: 156px;    
}

.col1_css .title_css {
    float: left;
    width: 100%;
    height: 34px;
    background: #fcbd22;
    text-align: center; 
}

.col2_css .title_css {
    float: left;
    width: 100%;
    height: 34px;
    background: #1573a7;
    text-align: center; 
}

.col3_css .title_css {
    float: left;
    width: 100%;
    height: 34px;
    background: #fcbd22;
    text-align: center;    
}

.col1_css .title_css span {
    font-weight: bold;
    color: #464145;
    margin-top: 9px;
    display: block;
    font-size: 12px;
}

.col2_css .title_css span {
    font-weight: bold;
    color: #ffffff;
    margin-top: 9px;
    display: block;
    font-size: 12px;
}

.col3_css .title_css span {
    font-weight: bold;
    color: #464145;
    margin-top: 9px;
    display: block;
    font-size: 12px;
}

.link_more_css a {
    display: block;
    background: url('images/more_button.jpg') no-repeat;    
    float: right;
    width: 69px;
    height: 15px;
}

.arrow_css {
    display: block;
    background: url('images/arrow_title.jpg') no-repeat;    
    float: left;
    width: 15px;
    height: 11px;    
}

.download_css {
    display: block;
    background: url('images/download.jpg') no-repeat;    
    float: left;
    margin-top: 4px;
    width: 12px;
    height: 11px;    
}

span.date_css {
    float: left;
    width: 100%;
    font-style: italic;
    color: #fd0500;
    font-size: 11px;
}

.title_row_css {
    width: 100%;
    float: left;
    border-bottom: dotted 2px #979ea4;    
    padding: 9px 0 9px 0;
}

.title_row_css a {
    margin-right: 10px;
    color: #454344;
    font-size: 12px;
    font-weight: bold;
    display: block;    
}

.link_css {
    float: left;
    width: 100%;
    min-height: 315px;
}

.home_table_css {
    width: 100%;
}

.button_css .dxbButton_Office2010Blue {
    padding: 5px 5px 5px 5px;
}

.button_css {
    float: right;
    width: 100%;
    text-align: right;
    margin: 1% 2%;
}

.content_css {
    margin: 0 2% 0 2%;
}

.content_css span {
    font-size: 11px;
    font-weight: bold;
}


.content_css .dxeTextBoxSys td.dxic input {
    width: 400px !important;
 }

#ctl00_ctl00_ASPxSplitter1_Content_ContentSplitter_MainContent_txtDescription {
    width: 600px !important; 
    height: 80px;
    font-size: 11px;
}

h1.title_css {
    font-size: 20px;
    margin-left: 2%;
    font-weight: bold;
    font-family: 'Times New Roman';
    color: #0b699c !important;
    margin-bottom: 15px;
}

.leftPanel .dxmLite_Office2010Blue .dxm-content a.dx {
    color: #0b699c !important;
    font-weight: normal;
    
    width: 100%;
    float: left;
}

.leftPanel .dxmLite_Office2010Blue .dxm-content a.dx:hover {
    font-weight: bold;    
}

.leftPanel .dxmLite_Office2010Blue.dxm-ltr .dxm-vertical .dxm-image-l.dxm-noImages .dxm-content {
 
}

.content_css .main_content_css {
    width: 100%;
    float:left;    
}

.content_css .notice_title_css {
    width: 100%;
    float: left;
    margin-bottom: 20px;
    font-size: 13px;
    font-weight: bold;
}

#error_msg {
    font-weight: bold;
    color: red;
    margin: 0 2% 0 2%;
}

.reports_selection_css {
    border: solid 1px #cccccc;
    width: 310px;
    height: 94px;
    float: left;
    padding: 12px;
    margin: 0 0 13px 15px;
    background: #f0f1f2;
}



.reports_selection_css p {    
    font-size: 11px;
    margin-bottom: 4px;
    float: left;
    width: 100%;
}

#ctl00_ctl00_ASPxSplitter1_Content_ContentSplitter_MainContent_cbQuy {
    width: 130px;
    float: left;
}

#ctl00_ctl00_ASPxSplitter1_Content_ContentSplitter_MainContent_AddBM {
    float: left;
    margin-left: 17px;
}

.company_selection_css #ctl00_ctl00_ASPxSplitter1_Content_ContentSplitter_MainContent_AddBM {
    float: left;
    margin: 0;    
}

#ctl00_ctl00_ASPxSplitter1_Content_ContentSplitter_MainContent_chkGenFromBM {
    margin: 3px 0 0 -4px;
    float: left;
}

#ctl00_ctl00_ASPxSplitter1_Content_ContentSplitter_MainContent_chkGenFromBM label {
    margin-top: 5px;
    font-weight: normal !important;
    font-style: italic;
}

.reports_selection_css span p {    
    font-size: 11px;
    margin-bottom: 4px;
    float: left;
    width: 45%;
}

#ctl00_ctl00_ASPxSplitter1_Content_ContentSplitter_MainContent_cbcty {
    width: 186px;
    float: left;
    margin-left: 33px;
    margin-bottom: 11px;
}

.company_selection_css {
    width: 388px;
    height: 102px;
}

.company_selection_css #ctl00_ctl00_ASPxSplitter1_Content_ContentSplitter_MainContent_AddBM {
    float: left;
}

.company_selection_css #ctl00_ctl00_ASPxSplitter1_Content_ContentSplitter_MainContent_chkGenFromBM {
    margin-left: 25px;
}

.dxpc-ddSys
{
    
}

#ctl00_ctl00_ASPxSplitter1_Content_ContentSplitter_MainContent_txtchiPhiMuaChiu_I {
    float: left;
    width: 177px;
}

.company_selection_1_css {
    width: 388px;
    height: 141px;
}

.company_selection_1_css #ctl00_ctl00_ASPxSplitter1_Content_ContentSplitter_MainContent_AddBM {
    margin-left: -1px;
}

#ctl00_ctl00_ASPxSplitter1_Content_ContentSplitter_MainContent_lbKyBC {
    font-family: 'Times New Roman';
    font-weight: bold;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    float: left;
    color: #0b699c !important;
}

.small_grid_css {
    width: 100%;
    float: left;
    overflow-x: scroll !important;

}

#ASPxSplitter1_0, #ASPxSplitter1_0_CC {
    height: 90px !important;
}

.dxmLite .dxm-main {
    margin-top: 1px;
}

.login-form-1 {
    height: 193px;
}