#jv-mainmenu-inner  {
	width: 100%; 	
}
#jv-left-padding  {
	
}
ul.menu li {
	border-bottom: 1px solid #3193E4;	
}
.search {
	border-bottom: dotted 1px #3193E4;
}
.search .inputbox {
	background: #ffffff;
	border: 1px solid #ffffff;
	color: #73BBF7;
}
.search .button {
	background: url(../../images/blue/bg-button-search.jpg) repeat-x top;
	color: #FFF;
	border: 1px solid #f7f7f7;
	height: 21px;		width: 59px !important;
}

ul.menu li#current a,
ul.menu li a:hover {
	background: url(../../images/blue/arrow-left-active.gif) no-repeat 0 11px;
}

div.moduletable h3.moduletitle,
div.moduletable_menu h3.moduletitle, 
div.moduletable_text h3.moduletitle, 
div.module h3.moduletitle, 
div.module_menu h3.moduletitle, 
div.module_text h3.moduletitle {
	color: #333333;
	font-size: 13px;
	font-weight: bold;
}


div.box1 h3.moduletitle,
div.box1 div.modulecontent {
	background: #1E7AC7;
	color: #FFFFFF;
}
div.icon3 h3.moduletitle {
	color: #E41D8B;
}

div.jv-title-category a,
div.jv-article-list {
	background: #C7DFF2;
}

div.jv-title-category a,
li.jv-article-title a,
p.more_link,
a {
	color: #226EAE;
}


ul.article-item li {
	background: url(../../images/blue/bg-dot.jpg) no-repeat scroll 0 8px;
}

#jv-left-inner .jv_aclickmenu_wrap .jv_maccordion li {
	border-bottom: 1px solid #3193E4;
}
#jv-left-inner .jv_aclickmenu_wrap .jv_maccordion li:hover {
	background: url(../../images/blue/arrow-left-active.gif) no-repeat 0 11px;
}
#jv-left-inner .jv_aclickmenu_wrap a.trigger {
	background: url(../../images/blue/down_arrow.gif) no-repeat 0 0;
}
#jv-left-inner .jv_aclickmenu_wrap a.open {
	background: url(../../images/blue/up_arrow.gif) no-repeat scroll 0 0;
}